In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
alternative_option = '353' # '434'

In [2]:
data_base = pd.read_csv('../data/CHES2019_experts.csv')

In [15]:
if alternative_option == '434':
    TARGET_FILENAME = 'CHES2019_experts_recategorized_4l3c4r.csv'
else:
    TARGET_FILENAME = 'CHES2019_experts_recategorized.csv'

In [6]:
data_base.describe()

,econ_interven,environment,redistribution,civlib_laworder,immigrate_policy,sociallifestyle,lrgen_factor,lrecon_factor,galtan_factor
count,3432.000000,3262.000000,3396.000000,3405.000000,3438.000000,3461.000000,3610.000000,3554.000000,3596.000000
mean,4.548951,5.188228,4.409894,5.151542,5.681792,4.473851,5.299446,4.952448,5.076752
std,2.632320,2.647456,2.533628,2.930842,2.936724,3.266881,2.582166,2.450809,3.106851
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000
50%,5.000000,5.000000,4.000000,5.000000,6.000000,4.000000,5.000000,5.000000,5.000000
75%,6.000000,7.000000,6.000000,8.000000,8.000000,7.000000,7.000000,7.000000,8.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [7]:
data_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3823 entries, 0 to 3822
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   econ_interven     3432 non-null   float64
 1   environment       3262 non-null   float64
 2   redistribution    3396 non-null   float64
 3   civlib_laworder   3405 non-null   float64
 4   immigrate_policy  3438 non-null   float64
 5   sociallifestyle   3461 non-null   float64
 6   lrgen_factor      3610 non-null   float64
 7   lrecon_factor     3554 non-null   float64
 8   galtan_factor     3596 non-null   float64
dtypes: float64(9)
memory usage: 268.9 KB

In [8]:
data_base.head()

,econ_interven,environment,redistribution,civlib_laworder,immigrate_policy,sociallifestyle,lrgen_factor,lrecon_factor,galtan_factor
0,5.0,5.0,8.0,6.0,7.0,5.0,5.0,5.0,6.0
1,0.0,5.0,1.0,7.0,5.0,8.0,NaN,3.0,9.0
2,5.0,5.0,8.0,6.0,3.0,5.0,4.0,5.0,5.0
3,5.0,5.0,8.0,6.0,6.0,5.0,6.0,7.0,9.0
4,2.0,5.0,8.0,9.0,10.0,8.0,6.0,7.0,9.0

In [9]:
data_base.iloc[:, -3].value_counts(dropna=False)

5.0     505
7.0     451
4.0     434
6.0     429
8.0     379
3.0     368
2.0     323
9.0     254
NaN     213
1.0     201
10.0    187
0.0      79
Name: lrgen_factor, dtype: int64

In [10]:
data_base.iloc[:, -2].value_counts(dropna=False)

5.0     502
4.0     462
7.0     458
3.0     436
6.0     416
8.0     379
2.0     353
NaN     269
1.0     206
9.0     171
0.0      96
10.0     75
Name: lrecon_factor, dtype: int64

In [11]:
data_base.iloc[:, -1].value_counts(dropna=False)

5.0     381
2.0     374
3.0     353
10.0    349
9.0     330
1.0     325
8.0     318
4.0     315
6.0     308
7.0     301
0.0     242
NaN     227
Name: galtan_factor, dtype: int64

# Replacing existing categories
Procedure (for alternative):
- For the three target columns lrgen, lrecon and galtan...
    - 0, 1, 2 (0-3) are replaced by 'l'
    - 3-7 (4-6) are replaced by 'n'
    - 8-10 (7-10) are replaced by 'r'

In [12]:
# remove rows with excessive number of NAN's - at least 4 values out of 6 must be provided
if alternative_option == '434':
    data_base.iloc[:, -3:] = data_base.iloc[:, -3:].replace({0: 'l', 1: 'l', 2: 'l', 3: 'l', 
                                                             4: 'c', 5: 'c', 6: 'c',
                                                             7: 'r', 8: 'r', 9: 'r', 10: 'r'})
else:
    data_base.iloc[:, -3:] = data_base.iloc[:, -3:].replace({0: 'l', 1: 'l', 2: 'l', 
                                                             3: 'c', 4: 'c', 5: 'c', 6: 'c', 7: 'r', 
                                                             8: 'r', 9: 'r', 10: 'r'})

In [13]:
print(data_base.iloc[:, -3].value_counts())
print(data_base.iloc[:, -2].value_counts())
print(data_base.iloc[:, -1].value_counts())

c    1736
r    1271
l     603
Name: lrgen_factor, dtype: int64
c    1816
r    1083
l     655
Name: lrecon_factor, dtype: int64
c    1357
r    1298
l     941
Name: galtan_factor, dtype: int64

In [16]:
data_base.to_csv('../data/' + TARGET_FILENAME,index=False)