In [21]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split
import sklearn.neighbors._base
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from sklearn.impute import KNNImputer

In [22]:
data_base = pd.read_csv('/home/gernot/Nextcloud/Research/Papers/20_Political_Prediction/Data_Analysis/data/voter_table.csv')

In [23]:

relevant_cols_EVS_independent = ['econ_interven', 
               'environment', 
               'redistribution', 
               'civlib_laworder', 
               'immigrate_policy', 
               'sociallifestyle']

In [24]:
data_base = data_base[relevant_cols_EVS_independent]

In [27]:
# Obtain an overview of missing values and respective removal
for i in range(0, 7):
    print(str(i) + ': ' + str(len(data_base.dropna(subset = data_base.iloc[:,:].columns.values,thresh = i))))

0: 26538
1: 26200
2: 26062
3: 25827
4: 25447
5: 24618
6: 22264

In [28]:
data_base

,econ_interven,environment,redistribution,civlib_laworder,immigrate_policy,sociallifestyle
0,5.0,2.0,3.0,3.0,5.0,0.0
1,6.0,4.0,4.0,2.0,3.0,0.0
2,4.0,0.0,5.0,4.0,6.0,0.0
3,2.0,1.0,4.0,5.0,4.0,3.0
4,6.0,0.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...
26533,9.0,2.0,0.0,3.0,0.0,3.0
26534,NaN,NaN,0.0,NaN,NaN,NaN
26535,5.0,3.0,5.0,4.0,4.0,8.0
26536,NaN,NaN,NaN,NaN,NaN,NaN
26537,5.0,5.0,5.0,10.0,NaN,0.0

# Preprocessing
Procedure:
- remove all rows where NAN's occur for independent variables (0-5) # where more than 2 (>=3) NAN's occur for independent variables (0-5)
- Split the dataset into subsets according to to-be-predicted columns lrgen, lrecon, galtan
- Remove NA's and non-required columns in these sub-datasets for these columns
- Subsequently, split the datasets into validation and training-test dataset
- The remaining NA's of the independent variables will then be imputed using R

In [36]:
# remove rows with excessive number of NAN's - at least 4 values out of 6 must be provided
data_base = data_base.dropna(subset = data_base.iloc[:,:].columns.values,thresh = 6)

In [37]:
data_base

,econ_interven,environment,redistribution,civlib_laworder,immigrate_policy,sociallifestyle
0,5.0,2.0,3.0,3.0,5.0,0.0
1,6.0,4.0,4.0,2.0,3.0,0.0
2,4.0,0.0,5.0,4.0,6.0,0.0
3,2.0,1.0,4.0,5.0,4.0,3.0
4,6.0,0.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...
26530,5.0,3.0,2.0,5.0,5.0,5.0
26531,1.0,6.0,3.0,3.0,10.0,0.0
26532,5.0,4.0,5.0,8.0,10.0,5.0
26533,9.0,2.0,0.0,3.0,0.0,3.0
26535,5.0,3.0,5.0,4.0,4.0,8.0

In [31]:
# definition of imputation
imputer = KNNImputer(n_neighbors=5)

In [35]:
data_base.to_numpy()

array([[ 5.,  2.,  3.,  3.,  5.,  0.],
       [ 6.,  4.,  4.,  2.,  3.,  0.],
       [ 4.,  0.,  5.,  4.,  6.,  0.],
       ...,
       [ 9.,  2.,  0.,  3.,  0.,  3.],
       [ 5.,  3.,  5.,  4.,  4.,  8.],
       [ 5.,  5.,  5., 10., nan,  0.]])

In [34]:
EVS_imputed = imputer.fit_transform(X=data_base.to_numpy())

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_86631/3489901903.py", line 1, in <module>
    EVS_imputed = imputer.fit_transform(X=data_base.to_numpy())
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/sklearn/utils/_set_output.py", line 140, in wrapped
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 915, in fit_transform
    - `get_submatrix` method that returns the submatrix corresponding to a bicluster.
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/sklearn/utils/_set_output.py", line 140, in wrapped
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/sklearn/impute/_knn.py", line 266, in transform
    X = self._validate_data(
        ^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 604, in _validate_data
    out : {ndarray, sparse matrix} or tuple of these
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TypeError: check_array() got an unexpected keyword argument 'force_writeable'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "/home/gernot/anaconda3/lib/python3.11/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [38]:
data_base.to_csv('/home/gernot/Nextcloud/Research/Papers/20_Political_Prediction/Data_Analysis/data/EVS_data_imputed.csv')